{% extends "base.html" %}

{% block title %}Capsulas{% endblock %}

{% block heading %}
  <h2>Capsulas <br/>
    <small>Información </small>
  </h2>
{% endblock %}

{% block content %}
<br/>
<a href= {% url 'crear_capsula' %} class="btn btn-primary btn-lg active" role="button" >Nueva Cápsula</a>
<br/><br/><br/>
  {% for capsula in capsulas %}
    <li class="well well-sm">
  	<h2>Contenido: {{capsula.texto}}</h2>
  	<h3>Fecha de Publicación: {{capsula.fechaPublicacion}}</h3>
  	<h4>Creado por: {{capsula.usuario}}</h4>
    <a href= {% url 'editar_capsula' pk=capsula.id %}>Editar</a>
    </li>
  {% endfor %}
  {%if total == False%}
    <a href= "{% url 'ver_capsulas' %}?limit={{limit}}" >Mas</a>
  {%endif%}
{% endblock %}
