{% extends "base.html" %}
{% load static %}
  {% block title %}
    Error
  {% endblock %}

  {% block main-section%}

    <!-- MAIN SECTION -->
    <section class="mainContent full-width clearfix">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-1 col-xs-12">
            <div class="errorMsg">
              <img src= "{% static "img/error.png" %}" alt="error image" class="img-responsive">
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="errorInfo">
              <h3>Oops!</h3>
              <p>¡La página que buscas no existe!</p>
              <form action="#" method="POST" role="form" class="homeContactContent errorSpace">
              <!--  <div class="form-group">
                  <button type="submit" class="input-group-addon" id="basic-addon21"><i class="fa fa-check" aria-hidden="true"></i></button>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Search again">
                </div>
              -->
                <div class="formBtnArea pull-left">
                  <a href={% url 'home:home' %} class="btn btn-primary bg-color-3">Regresar a la Página Principal</a>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </section>
 {% endblock %}
