{% extends "base.html" %}
{% load static %}
  {% block title %}
    Informacion
  {% endblock %}

  {% block css %}
    <link rel="shortcut icon" href= "{% static "img/favicon.png" %}">
  {% endblock %}

    {% block main-section%}
    <section class="mainContent full-width clearfix aboutSection">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-push-6 col-xs-12">
            <img src="{% static "img/about_us/principal.jpg" %}" alt="image" class="img-responsive img-rounded">
          </div>
          <div class="col-sm-6 col-sm-pull-6 col-xs-12">
            <div class="schoolInfo">
              <h2>Un poco de historia</h2>
              <p>Inicialmente, en 1875, se edifica una prisión en el lugar. No es sino hasta 1960 que se instaura la Casa de la Cultura en ese sitio. Las antiguas celdas se convirtieron en oficinas de trabajo, la biblioteca municipal y un pequeño teatro, espacio donde actualmente funciona el Museo de Arte e Historia Natural y de la Marimba.</p>
              </ul>
              <a href="http://www.visitguatemaya.com/2013/03/casa-de-la-cultura-quetzaltenango.html" target="_blank" class="btn btn-primary" >Leer más</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}
