<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Admi</title> 
		<link rel="stylesheet" type="text/css" href="css/estilosA.css">
	</head>
	<body>
		<div class="encabezado">
			<ul>
				<a href="#">Iniciar Sesión</a>
				<a href="#">Registrarse</a>
			</ul>
		</div>
		<div class="menu">
			<div class="subMenu">
				<ul>
					<li><a href="#">Estadisticas</a>
					<li><a href="#">Administrar Capsulas</a>
					<li><a href="#">Moderar Eventos</a>
					<li><a href="#">Moderar Artistas</a>
					<li><a href="#">Crear Evento</a>
				</ul>
			</div>
			<div class="imagen">
				<img src="imagenes/fondo.jpg" alt="fondo" style="float: left;width:80%">
			</div>
		</div>
	</body>
</html>