{% extends "base.html" %}
{% load static %}
  {% block title %}
    Administracion
  {% endblock %}

  {% block main-section %}
  <section class="whiteSection full-width clearfix p-t-n">
    <div class="container">
      <div class="sectionTitle text-center">
       <h2>
         <br>
          <span class="shape shape-left bg-color-4"></span>
          <span>Panel de Administración</span>
          <span class="shape shape-right bg-color-4"></span>
        </h2>
      </div>

      <div class="row">
        <div class="col-lg-6 col-xs-12">
          <div class="pricingTable tableVertical">
            <div class="priceUper">
              <div class="priceTitle bg-color-1"><h3>Moderar eventos</h3></div>
              <div class="priceInfo bg-color-1">
                <p>Autoriza nuevos eventos</p>
                <div class="priceBtn alt">
                  <a href="{% url 'actividad_pendiente' %}" class="btn btn-primary">Seleccionar</a>
                </div>
              </div>
            </div>
            <div class="priceLower">
              <ul class="list-unstyled priceOffer">

              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xs-12">
          <div class="pricingTable tableVertical">
            <div class="priceUper">
              <div class="priceTitle bg-color-1"><h3>Moderar artistas</h3></div>
              <div class="priceInfo bg-color-1">
                <p>Autoriza nuevos artistas</p>
                <div class="priceBtn alt">
                  <a href="{% url 'artista_pendiente' %}" class="btn btn-primary">Seleccionar</a>
                </div>
              </div>
            </div>
            <div class="priceLower">
              <ul class="list-unstyled priceOffer">

              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xs-12">
          <div class="pricingTable tableVertical">
            <div class="priceUper">
              <div class="priceTitle bg-color-3"><h3>Cápsulas</h3></div>
              <div class="priceInfo bg-color-3">
                <p>Crea o modifica cápsulas informativas</p>
                <div class="priceBtn alt">
                  <a href="{% url 'ver_capsulas' %}" class="btn btn-primary">Seleccionar</a>
                </div>
              </div>
            </div>
            <div class="priceLower">
              <ul class="list-unstyled priceOffer">

              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-xs-12">
          <div class="pricingTable tableVertical">
            <div class="priceUper">
              <div class="priceTitle bg-color-3"><h3>Categorías</h3></div>
              <div class="priceInfo bg-color-3">
                <p>Crea o modifica las categorías de actividades y artistas</p>
                <div class="priceBtn alt">
                  <a href="{% url 'admin_categoria' %}" class="btn btn-primary">Seleccionar</a>
                </div>
              </div>
            </div>
            <div class="priceLower">
              <ul class="list-unstyled priceOffer">

              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-xs-12">
          <div class="pricingTable tableVertical">
            <div class="priceUper">
              <div class="priceTitle bg-color-4"><h3>Publicidad</h3></div>
              <div class="priceInfo bg-color-4">
                <p>Modifica la publicidad mostrada</p>
                <div class="priceBtn alt">
                  <a href="{% url 'publicidad' %}" class="btn btn-primary">Seleccionar</a>
                </div>
              </div>
            </div>
            <div class="priceLower">
              <ul class="list-unstyled priceOffer">

              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-xs-12">
          <div class="pricingTable tableVertical">
            <div class="priceUper">
              <div class="priceTitle bg-color-4"><h3>Estadísticas</h3></div>
              <div class="priceInfo bg-color-4">
                <p>Ver estadísticas útiles</p>
                <div class="priceBtn alt">
                  <a href="{% url 'estadisticas' %}" class="btn btn-primary">Seleccionar</a>
                </div>
              </div>
            </div>
            <div class="priceLower">
              <ul class="list-unstyled priceOffer">

              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-xs-12">
          <div class="pricingTable tableVertical">
            <div class="priceUper">
              <div class="priceTitle bg-color-1"><h3>Imagenes</h3></div>
              <div class="priceInfo bg-color-1">
                <p>Edita el logo y las imagenes de inicio</p>
                <div class="priceBtn alt">
                  <a href="{% url 'editar_imagenes' %}" class="btn btn-primary">Seleccionar</a>
                </div>
              </div>
            </div>
            <div class="priceLower">
              <ul class="list-unstyled priceOffer">

              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  {% endblock %}
