{% extends "base.html" %}
{% load static %}
  {% block title %}
    Nuevos Artistas
  {% endblock %}

  {% block main-section %}
  <section class="mainContent full-width clearfix">
    <div class="container">
      {%if perfiles%}
        <div class="row">
          <div class="col-xs-12">
            {%for perfil in perfiles%}
            <div class="media courseList couresListPage">
              <a class="media-left border-color-1" >
                <img class="media-object" src="{{MEDIA_URL}}{{perfil.imagen}}" alt="Image">

              </a>
              <div class="media-body">
                <h3 class="media-heading"><a class="color-1">Informacion</a></h3>
                <ul class="list-inline">
                  <li><i class="fa fa-calendar-o" aria-hidden="true"></i>{{perfil.fechaRegistro}}</li>
                  <!--<li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>-->
                </ul>
                <p>Nombre: {{perfil.nombreReal}}</p>
                <p>Nombre Artistico: {{perfil.nombreArtista}}</p>
                <p>Edad: {{perfil.get_edad}}</p>
                <p>Email: {{perfil.email}}</p>
                <ul class="list-inline btn-yellow btnPart">
                  <li><a href="{% url 'autorizar_artista' id=perfil.id %}" class="btn btn-primary ">Autorizar</a></li>
                  <li><a href="{% url 'rechazar_artista' id=perfil.id %}" class="btn btn-primary " >Denegar</a></li>
                  <li><a href="{% url 'home:perfil' username=perfil.user.username %}" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Ver Detalles</a></li>
                </ul>
              </div>
            </div>
            {%endfor%}
          </div>
        </div>
        {%if total == False%}
        <div class="btnArea">
          <a href="{% url 'artista_pendiente' %}?limit={{limit}}" class="btn btn-primary">Ver Mas</a>
        </div>
        {%endif%}
      {%else%}
      <div class="sectionTitle text-center alt">
        <h2>
          <span class="shape shape-left bg-color-2"></span>
          <span>Ningun artista nuevo por ahora</span>
          <span class="shape shape-right bg-color-2"></span>
        </h2>
      </div>
      {%endif%}

    </div>
  </section>
  {% endblock %}
