{% extends "base.html" %}
{% load static %}
  {% block title %}
    Ayuda
  {% endblock %}

  {% block css %}
    <link rel="shortcut icon" href= "{% static "img/favicon.png" %}">
  {% endblock %}

  {% block main-section%}
  <section class="mainContent full-width clearfix">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-8 col-xs-12">
            <div class="accordionCommon hello" id="faqAccordion">
              <div class="panel-group" id="accordionFaq">
                <div class="panel panel-default">
                  <a class="panel-heading accordion-toggle bg-color-1" data-toggle="collapse" data-parent="#accordionFaq" href="#collapse-aa">
                    <span>Creación de un artista</span>
                    <span class="iconBlock"><i class="fa fa-chevron-down"></i></span>
                  </a>                    
                  <div id="collapse-aa" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <p>A continuación se le presenta un formulario el cual debe llenar con sus datos personales. Una vez hecho esto, haga clic en el botón "crear" para enviar una petición a la administración de la Casa de la Cultura y así ingresar como un usuario Artista, caso contrario, podrá ingresar a la página pero no se le permitirá publicar.</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <a class="panel-heading accordion-toggle bg-color-2" data-toggle="collapse" data-parent="#accordionFaq" href="#collapse-bb">
                    <span>Creación de un evento</span>
                    <span class="iconBlock"><i class="fa fa-chevron-up"></i></span>
                  </a>
                  <div id="collapse-bb" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Al ser usted un usuario Artista, puede crear sus eventos llenando el formulario correspondiente. Si el proyecto es aceptado por la administración de la Casa de la Cultura, entonces su evento se publicará, caso contrario, el evento sólo podrá ser visualizado por usted y la mencionada administración.</p>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  {% endblock %}