{% extends "base.html" %}
{% load static %}
  {% block title %}
    Ayuda
  {% endblock %}

  {% block css %}
    <link rel="shortcut icon" href= "{% static "img/favicon.png" %}">
  {% endblock %}

  {% block main-section%}
  <section class="mainContent full-width clearfix">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-8 col-xs-12">
            <div class="accordionCommon hello" id="faqAccordion">
              <div class="panel-group" id="accordionFaq">

                <div class="panel panel-default">
                  <a class="panel-heading accordion-toggle bg-color-1" data-toggle="collapse" data-parent="#accordionFaq" href="#collapse-aa">
                    <span>CalendArt</span>
                    <span class="iconBlock"><i class="fa fa-chevron-down"></i></span>
                  </a>                    
                  <div id="collapse-aa" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <p>
                        CalendArt nació de la necesidad de crear una herramienta que en la actualidad pueda gestionar de manera versátil la información de los artistas a nivel de occidental, como misión; dar el poder a los usuarios de compartir, encontrar y buscar eventos en Quetzaltenango, y así difundir el talento de nuevos artistas.
                      </p>
                      <p>
                          La plataforma contiene información relacionada a eventos, artistas y pequeñas cápsulas informativas que enriquecen al usuario durante su estadía. 
                      </p>
                      
                      <p>
                        CalendArt, difundimos talento quetzalteco.
                      </p>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <a class="panel-heading accordion-toggle bg-color-2" data-toggle="collapse" data-parent="#accordionFaq" href="#collapse-bb">
                    <span>Creación de Artista</span>
                    <span class="iconBlock"><i class="fa fa-chevron-up"></i></span>
                  </a>
                  <div id="collapse-bb" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Si no tienes una cuenta en CalendArt puedes crear una en pocos pasos: </p>
                      
                      <ol>
                       <li>Dirígete al botón de "Inicio" y luego al botón "Crear Cuenta" o puedes irte directamente a la esquina superior derecha al botón "Registrarse".
                        <li>Veras el formulario de registro, complétalo con tu nombre artístico, tu nombre y apellido, fecha de nacimiento, correo electrónico, numero de teléfono, sexo y ponle una contraseña de por lo menos 8 caracteres.
                        <li>Haz clic en Crear.
                        <li>Para terminar y ser un usuario artista, se hará una petición a la administración de La Casa de la Cultura.
                      </ol>
                      <p>
                        

                      </p>
                     <p>Si ya tienes una cuenta de CalendArt y quieres iniciar sesión, hazlo desde el botón "Inicio" y luego "Login" también puedes hacerlo directamente desde el boton de "Iniciar Sesión" que está en la parte superior derecha, ingresa tu correo electrónico y tu contraseña y dale clic en "Ingresar" </p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <a class="panel-heading accordion-toggle bg-color-3" data-toggle="collapse" data-parent="#accordionFaq" href="#collapse-cc">
                    <span>Creación de Evento</span>
                    <span class="iconBlock"><i class="fa fa-chevron-up"></i></span>
                  </a>
                  <div id="collapse-cc" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Siendo ya un usuario confirmado por la administración de la Casa de la Cultura vas a que querer publicar eventos, esto se hace de la siguiente manera:  </p>
                      
                      <ol>
                        <li>Posa el puntero del mouse en "Eventos", en la parte superior derecha.</li>
                        <li>Haz clic en "Crear Eventos"</li>
                        <li>Llena el formulario que se te presenta con los datos de tu evento, los detalles, la ubicación y una imagen del evento.</li>
                        <li>Una vez llenos todos los campos, dale clic a "Crear Evento"</li>

                      </ol>
                      <p>Para que tu evento sea publicado tendrá que ser revisado por la administración de la Casa de la Cultura, si lo aceptan inmediatamente el evento estará publicado.</p>



                    </div>
                  </div>
                </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  {% endblock %}