<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title%}{% endblock%}</title>

    <!-- PLUGINS CSS STYLE -->
    <link href= "{% static "plugins/jquery-ui/jquery-ui.css" %}" rel="stylesheet">
    <link href= "{% static "plugins/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href= "{% static "plugins/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href= "{% static "plugins/rs-plugin/css/settings.css" %}" media="screen">
    <link rel="stylesheet" type="text/css" href= "{% static "plugins/selectbox/select_option1.css" %}">
    <link rel="stylesheet" type="text/css" href= "{% static "plugins/owl-carousel/owl.carousel.css" %}" media="screen">
    <link rel="stylesheet" type="text/css" href= "{% static "plugins/isotope/jquery.fancybox.css" %}">
    <link rel="stylesheet" type="text/css" href= "{% static "plugins/isotope/isotope.css" %}">

    <!-- GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- CUSTOM CSS -->
    <link href= "{% static "css/style.css" %}" rel="stylesheet">
    <link rel="stylesheet" href= "{% static "css/colors/default.css" %}" id="option_color">

    {% block css %}
    {%endblock%}

</head>

<body class="body-wrapper">
  <div class="main-wrapper">
    <!-- HEADER -->
    <header id="pageTop" class="header-wrapper">
      <!-- COLOR BAR -->
      <div class="container-fluid color-bar top-fixed clearfix">
        <div class="row">
          <div class="col-sm-1 col-xs-2 bg-color-1">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-2">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-3">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-4">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-5">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-6">fix bar</div>
          <div class="col-sm-1 bg-color-1 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-2 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-3 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-4 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-5 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-6 hidden-xs">fix bar</div>
        </div>
      </div>
      <!-- Barra de Informacion superior Login y registro -->
      <div class="top-info-bar bg-color-7 hidden-xs">
        <div class="container">
          <div class="row">
            <div class="col-sm-7">
              <ul class="list-inline topList">
                <li><i class="fa fa-envelope bg-color-1" aria-hidden="true"></i> <a href="mailto:cultura@gmail.com">cultura@gmail.com</a></li>
                <li><i class="fa fa-phone bg-color-2" aria-hidden="true"></i> +502 1234 5678 </li>
                <li><i class="fa fa-clock-o bg-color-6" aria-hidden="true"></i> Abierto: 8AM - 5PM</li>
              </ul>
            </div>
            <div class="col-sm-5">
              <ul class="list-inline functionList">
                <li><i class="fa fa-globe bg-color-4" aria-hidden="true"></i></li>
                <li class="LanguageList">

                  <select name="guiest_id1" id="guiest_id1" class="select-drop">
                    <option value="0"><i class="fa fa-globe bg-color-4" aria-hidden="true"></i> Lenguaje</option>
                    <option value="1">Español</option>
                  </select>
                </li>



                {% if H_logeado == False %}
                <li><i class="fa fa-unlock-alt bg-color-5" aria-hidden="true"></i> <a href= '#loginModal' data-toggle="modal" >Iniciar Sesion</a><span>o</span><a href='#createAccount' data-toggle="modal">Registrarse</a></li>
                {% else %}
                <li><i class="fa fa-unlock-alt bg-color-5" aria-hidden="true"></i> <a href= '#' data-toggle="modal" >Bienvenido {{ H_nombre_usuario }} </a><span></span><a href= {% url 'cerrar_sesion' %} data-toggle="modal">Cerrar Sesion</a></li>
                {% endif %}
                <!--<li class="cart-dropdown">
                  <a href="#" class="bg-color-6 shop-cart" >
                    <i class="fa fa-shopping-basket " aria-hidden="true"></i>
                    <span class="badge bg-color-1">3</span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><i class="fa fa-shopping-basket " aria-hidden="true"></i>3 items in your cart</li>
                    <li>
                      <a href="single-product.html">
                        <div class="media">
                          <div class="media-left">
                            <img src="img/home/cart/cart-img.png" alt="cart-Image">
                          </div>
                          <div class="media-body">
                            <h4>Barbie Racing Car</h4>
                            <div class="price">
                              <span class="color-1">$50</span>
                            </div>
                            <span class="amount">Qnt: 1</span>
                          </div>
                        </div>
                      </a>
                      <span class="cancel"><i class="fa fa-close" aria-hidden="true"></i></span>
                    </li>
                    <li>
                      <a href="single-product.html">
                        <div class="media">
                          <div class="media-left">
                            <img src="img/home/cart/cart-img.png" alt="cart-Image">
                          </div>
                          <div class="media-body">
                            <h4>Barbie Racing Car</h4>
                            <div class="price">
                              <span class="color-1">$50</span>
                            </div>
                            <span class="amount">Qnt: 1</span>
                          </div>
                        </div>
                      </a>
                      <span class="cancel"><i class="fa fa-close" aria-hidden="true"></i></span>
                    </li>
                    <li>
                      <a href="single-product.html">
                        <div class="media">
                          <div class="media-left">
                            <img src="img/home/cart/cart-img.png" alt="cart-Image">
                          </div>
                          <div class="media-body">
                            <h4>Barbie Racing Car</h4>
                            <div class="price">
                              <span class="color-1">$50</span>
                            </div>
                            <span class="amount">Qnt: 1</span>
                          </div>
                        </div>
                      </a>
                      <span class="cancel"><i class="fa fa-close" aria-hidden="true"></i></span>
                    </li>
                    <li>
                      <span class="cart-total">Subtotal</span>
                      <span class="cart-price">$150</span>
                      <div class="cart-button">
                        <button type="button" class="btn btn-primary" onclick="location.href='checkout-step-1.html';">Checkout</button>
                        <button type="button" class="btn btn-primary" onclick="location.href='cart-page.html';">View Cart</button>
                      </div>
                    </li>
                  </ul>
                </li>-->
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% block header %}{% endblock %}

      <!-- Barra de Navegacion -->
      <nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href= "{% url 'home:home' %}" ><img src= "{% static "img/logo-casanoj.jpg" %}" alt="Kidz School"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown singleDrop color-1">
                <!-- data-toggle="dropdown" -->
                <a href="{% url 'home:home' %}" class="dropdown-toggle"  role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-home bg-color-1" aria-hidden="true"></i> <span>Inicio</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-left">
                <li><a href='#loginModal' data-toggle="modal" >Login</a><a href='#createAccount' data-toggle="modal">Crear Cuenta</a></li>
                </ul>
                <!--
                  <li class="active"><a href="index-v1.html">Kidz School</a></li>
                  <li><a href="index-v2.html">Kidz Store</a></li>
                  <li><a href="index-v3.html">Kidz Daycare</a></li>
                -->
              </li>

              {%if H_logeado == True %}
                {% if H_admin == True %}
                <li class="dropdown singleDrop color-4">
                  <!-- data-toggle="dropdown" -->
                  <a href={% url 'administracion' %} class="dropdown-toggle"  role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-file-text-o bg-color-4" aria-hidden="true"></i> <span>Administrar</span>
                  </a>
                  <!--<ul class="dropdown-menu dropdown-menu-left">
                    <li class="active"><a href="index-v1.html">Kidz School</a></li>
                    <li><a href="index-v2.html">Kidz Store</a></li>
                    <li><a href="index-v3.html">Kidz Daycare</a></li>
                  </ul>-->
                </li>
                {% else %}
                <li class="dropdown singleDrop color-4">
                  <!-- data-toggle="dropdown" -->
                  <a href={% url 'home:perfil' username=H_user %} class="dropdown-toggle"  role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-file-text-o bg-color-4" aria-hidden="true"></i> <span>Mi Perfil</span>
                  </a>
                  <!--<ul class="dropdown-menu dropdown-menu-left">
                    <li class="active"><a href="index-v1.html">Kidz School</a></li>
                    <li><a href="index-v2.html">Kidz Store</a></li>
                    <li><a href="index-v3.html">Kidz Daycare</a></li>
                  </ul>-->
                </li>
                {% endif %}
              {%endif%}

              <li class="dropdown singleDrop color-3">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-list-ul bg-color-3" aria-hidden="true"></i> <span>Categorias</span></a>
                <ul class="dropdown-menu dropdown-menu-left">

                  {%for H_categoria in H_categorias%}
                  <li><a href={% url 'home:categoria' id=H_categoria.id %}>{{H_categoria.categoria}}</a></li>
                  {%endfor%}
                  <li><a href="{% url 'home:categorias' %}">Ver Todas</a></li>
                  <!--<li class="dropdown dropdown-submenu">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Team<i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="teachers.html">Teachers</a></li>
                      <li><a href="teachers-details.html">Teacher Details</a></li>
                    </ul>
                  </li>
                  <li><a href="testimonial.html">Testimonial</a></li>
                  <li class="dropdown dropdown-submenu">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Events <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="all-events.html">All Events</a></li>
                      <li><a href="single-event-left-sidebar.html">Single Event Left Sidebar</a></li>
                      <li><a href="single-event-right-sidebar.html">Single Event Right Sidebar</a></li>
                    </ul>
                  </li>
                  <li><a href="photo-gallery.html">Photo Gallery</a></li>
                  <li><a href="pricing-table.html">Pricing Table</a></li>
                  <li><a href="services.html">Services</a></li>
                  <li><a href="service-details.html">Services Details</a></li>
                  <li><a href="search-result.html">Search Results</a></li>
                  <li><a href="contact-us.html">Contact Us</a></li>
                  <li><a href="faq.html">FAQ</a></li>
                  <li><a href="sign-up-or-login.html">Sign Up / Login</a></li>
                  <li><a href="404.html">Error 404</a></li>
                  <li><a href="coming-soon.html">Coming Soon</a></li>-->
                </ul>
              </li>
              <!--<li class=" dropdown megaDropMenu color-2">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false">
                  <i class="fa fa-file-text-o bg-color-2" aria-hidden="true"></i>
                  <span>Courses</span>
                </a>
                <ul class="row dropdown-menu">
                  <li class="col-sm-3 col-xs-12">
                    <ul class="list-unstyled">
                      <li>Courses Grid</li>
                      <li><a href="course-grid-full.html">Courses Grid Fullwidth</a></li>
                      <li><a href="course-grid-left-sidebar.html">Courses Grid Left Sidebar</a></li>
                      <li><a href="course-grid-right-sidebar.html">Courses Grid Right Sidebar</a></li>
                    </ul>
                  </li>
                  <li class="col-sm-3 col-xs-12">
                    <ul class="list-unstyled">
                      <li>Courses List</li>
                      <li><a href="course-list-fullwidth.html">Courses List Fullwidth</a></li>
                      <li><a href="course-list-left-sidebar.html">Courses List left Sidebar</a></li>
                      <li><a href="course-list-right-sidebar.html">Courses List Right Sidebar</a></li>
                    </ul>
                  </li>
                  <li class="col-sm-3 col-xs-12">
                    <ul class="list-unstyled">
                      <li>Single Course</li>
                      <li><a href="course-single.html">Single Course Fullwidth</a></li>
                      <li><a href="course-single-left-sidebar.html">Single Course left Sidebar</a></li>
                      <li><a href="course-single-right-sidebar.html">Single Course Right Sidebar</a></li>
                    </ul>
                  </li>
                  <li class="col-sm-3 col-xs-12">
                    <ul class="list-unstyled">
                      <li>Checkout</li>
                      <li><a href="checkout-step-1.html">Personal Info</a></li>
                      <li><a href="checkout-step-2.html">Payment Info</a></li>
                      <li><a href="checkout-step-3.html">Confirmation</a></li>
                    </ul>
                  </li>
                </ul>
              </li>-->
              <!--<li class="dropdown singleDrop color-4">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-pencil-square-o bg-color-4" aria-hidden="true"></i>
                  <span>Store</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown dropdown-submenu">
                    <a href="javascript:void(0)" class="dropdown-toggle " data-toggle="dropdown">Products<i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="product.html">Products Fullwidth</a></li>
                      <li><a href="product-left-sidebar.html">Products Left Sidebar</a></li>
                      <li><a href="product-right-sidebar.html">Products Right Sidebar</a></li>
                    </ul>
                  </li>
                  <li><a href="single-product.html">Single Product</a></li>
                  <li><a href="category.html">Product Categories</a></li>
                  <li><a href="cart-page.html">Cart</a></li>
                  <li class="dropdown dropdown-submenu">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Checkout<i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="checkout-step-1.html">Personal Info</a></li>
                      <li><a href="checkout-step-2.html">Payment Info</a></li>
                      <li><a href="checkout-step-3.html">Confirmation</a></li>
                    </ul>
                  </li>
                </ul>
              </li>-->
              <li class="dropdown singleDrop color-5">
                <!-- data-toggle="dropdown" -->
                <a href={% url 'home:eventos' %} class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-calendar bg-color-5" aria-hidden="true"></i>
                  <span>Eventos</span>
                </a>

                  <!--<li><a href={% url 'home:eventos' %}>Todos</a></li>-->
                  {% if H_logeado == True %}
                  <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href={% url 'home:crear_evento' username=user.username %}>Crear evento</a></li>
                  <li><a href={% url 'home:actividad_user' username=user.username %}>Mis eventos</a></li>
                  </ul>
                  {% endif %}

                  <!--<li class="dropdown dropdown-submenu">
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="blog-grid.html">Todos</a></li>
                  <li class="dropdown dropdown-submenu">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Blog Grid<i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="blog-grid.html">Blog Grid Fullwidth</a></li>
                      <li><a href="blog-grid-left-sidebar.html">Blog Grid Left Sidebar</a></li>
                      <li><a href="blog-grid-right-sidebar.html">Blog Grid Right Sidebar</a></li>
                    </ul>
                  </li>
                  <li class="dropdown dropdown-submenu">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Blog List<i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="blog-list.html">Blog List Fullwidth</a></li>
                      <li><a href="blog-list-left-sidebar.html">Blog List Left Sidebar</a></li>
                      <li><a href="blog-list-right-sidebar.html">Blog List Right Sidebar</a></li>
                    </ul>
                  </li>
                  <li class="dropdown dropdown-submenu">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Single Blog<i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="single-blog.html">Single Blog Fullwidth</a></li>
                      <li><a href="single-blog-left-sidebar.html">Single Blog Left Sidebar</a></li>
                      <li><a href="single-blog-right-sidebar.html">Single Blog Right Sidebar</a></li>
                    </ul>
                  </li>
                </ul>-->

              </li>

              <li class="dropdown singleDrop color-6">
                <!-- data-toggle="dropdown" -->
                <a href={% url 'home:artistas' %} class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-star-half-o   bg-color-6" aria-hidden="true"></i> <span>Artistas</span></a>
                <!--<ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="#">Todos</a></li>
                  <li><a href="accordion-toggles.html">Accordions &amp; Toggles</a></li>
                  <li><a href="tabs-dropdown.html">Tabs &amp; Dropdowns</a></li>
                </ul>-->
              </li>
          </div>

          <!--<div class="cart-dropdown">
            <a href="#" class="bg-color-6 shop-cart">
              <i class="fa fa-shopping-basket " aria-hidden="true"></i>
              <span class="badge bg-color-1">3</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><i class="fa fa-shopping-basket " aria-hidden="true"></i>3 items in your cart</li>
              <li>
                <a href="single-product.html">
                  <div class="media">
                    <div class="media-left">
                      <img src="img/home/cart/cart-img.png" alt="cart-Image">
                    </div>
                    <div class="media-body">
                      <h4>Barbie Racing Car</h4>
                      <div class="price">
                        <span class="color-1">$50</span>
                      </div>
                      <span class="amount">Qnt: 1</span>
                    </div>
                  </div>
                </a>
                <span class="cancel"><i class="fa fa-close" aria-hidden="true"></i></span>
              </li>
              <li>
                <a href="single-product.html">
                  <div class="media">
                    <div class="media-left">
                      <img src="img/home/cart/cart-img.png" alt="cart-Image">
                    </div>
                    <div class="media-body">
                      <h4>Barbie Racing Car</h4>
                      <div class="price">
                        <span class="color-1">$50</span>
                      </div>
                      <span class="amount">Qnt: 1</span>
                    </div>
                  </div>
                </a>
                <span class="cancel"><i class="fa fa-close" aria-hidden="true"></i></span>
              </li>
              <li>
                <a href="single-product.html">
                  <div class="media">
                    <div class="media-left">
                      <img src="img/home/cart/cart-img.png" alt="cart-Image">
                    </div>
                    <div class="media-body">
                      <h4>Barbie Racing Car</h4>
                      <div class="price">
                        <span class="color-1">$50</span>
                      </div>
                      <span class="amount">Qnt: 1</span>
                    </div>
                  </div>
                </a>
                <span class="cancel"><i class="fa fa-close" aria-hidden="true"></i></span>
              </li>
              <li>
                <span class="cart-total">Subtotal</span>
                <span class="cart-price">$150</span>
                <div class="cart-button">
                  <button type="button" class="btn btn-primary" onclick="location.href='checkout-step-1.html';">Checkout</button>
                  <button type="button" class="btn btn-primary" onclick="location.href='cart-page.html';">View Cart</button>
                </div>
              </li>
            </ul>
          </div>-->

        </div>
      </nav>
    </header>

    {% block banner %}{% endblock %}
    {% block page-tittle %}{% endblock %}
    {% block main-section %}{% endblock %}

    <!-- FOOTER -->
    <footer>
      <!-- COLOR BAR -->
      <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
      <div class="container-fluid color-bar clearfix">
        <div class="row">
          <div class="col-sm-1 col-xs-2 bg-color-1">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-2">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-3">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-4">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-5">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-6">fix bar</div>
          <div class="col-sm-1 bg-color-1 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-2 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-3 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-4 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-5 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-6 hidden-xs">fix bar</div>
        </div>
      </div>
      <!-- FOOTER INFO AREA -->
      <div class="footerInfoArea full-width clearfix" style="background-image: url(/static/img/footer/footer-bg-1.png);">
        <div class="container">
          <div class="row">
            <div class="col-sm-3 col-xs-12">
              <div class="footerTitle">
                <a href= "{% url 'home:home'%}" ><img src= "{% static "img/logo-casanoj.jpg" %}"></a>
              </div>
              <div class="footerInfo">
                <p>Casa de la Cultura, Quetzaltenango</p>
                <p>Holi</p>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="footerTitle">
                <h4>Links Utiles</h4>
              </div>
              <div class="footerInfo">
                <ul class="list-unstyled footerList">
                  <!--<li>
                    <a href="index-v1.html">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>Kidz School
                  </a>
                  </li>-->
                  <li>
                    <a href="{% url 'home:informacion' %}">
                      <i class="fa fa-angle-double-right" aria-hidden="true"></i>Sobre Nosotros
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'home:ayuda' %}">
                      <i class="fa fa-angle-double-right" aria-hidden="true"></i>Ayuda
                    </a>
                  </li>
                  <li>
                    <a href="https://www.google.es/maps/place/Casa+Noj/@14.8353485,-91.516509,16z/data=!4m5!3m4!1s0x858ebd5664666cc3:0xd8530f3ea3c7d7cb!8m2!3d14.8337254!4d-91.5189444" target="_blank">
                      <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                      Donde Encontrarnos
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="footerTitle">
                <h4>Recent Post</h4>
              </div>
              <div class="footerInfo">
                <ul class="list-unstyled postLink">
                  <li>
                    <div class="media">
                      <a class="media-left" href="single-blog.html">
                        <img class="media-object img-rounded border-color-1" src= "{% static "img/footer/footer-img-1.png" %}" alt="Image">
                      </a>
                      <div class="media-body">
                        <h5 class="media-heading"><a href="single-blog.html">A Clean Website Gives More Experience To The Visitors</a></h5>
                        <p>July 7 - 2016</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <a class="media-left" href="single-blog-left-sidebar.html">
                        <img class="media-object img-rounded border-color-2" src= "{% static "img/footer/footer-img-2.png" %}" alt="Image">
                      </a>
                      <div class="media-body">
                        <h5 class="media-heading"><a href="single-blog-left-sidebar.html">A Clean Website Gives More Experience To The Visitors</a></h5>
                        <p>July 7 - 2016</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <a class="media-left" href="single-blog-left-sidebar.html">
                        <img class="media-object img-rounded border-color-4" src= "{% static "img/footer/footer-img-3.png" %}" alt="Image">
                      </a>
                      <div class="media-body">
                        <h5 class="media-heading"><a href="single-blog-left-sidebar.html">A Clean Website Gives More Experience To The Visitors</a></h5>
                        <p>July 7 - 2016</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="footerTitle">
                <h4>Mailing List</h4>
              </div>
              <div class="footerInfo">
                <p>Sign up for our mailing list to get latest updates and offers.</p>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Email address" aria-describedby="basic-addon21">
                  <button type="submit" class="input-group-addon" id="basic-addon21"><i class="fa fa-check" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- COPY RIGHT -->
      <div class="copyRight clearfix">
        <div class="container">
          <div class="row">
            <div class="col-sm-5 col-sm-push-7 col-xs-12">
             <ul class="list-inline">
                <li><a href="http://www.facebook.com" target="_blank" class="icon-button facebook"  title="Ir al sitio de Facebook"><i class="icon-facebook"></i><span></span></a></li>
                <li><a href="http://www.instagram.com" target="_blank" class="icon-button instagram" title="Ir al sitio de Instagram"><i class="icon-instagram"></i><span></span></a></li>
                <li><a href="http://www.twitter.com" target="_blank" class="icon-button twitter" title="Ir al sitio de Twitter"><i class="icon-twitter"></i><span></span></a></li>
                <li><a href="http://www.linkedin.com" target="_blank" class="icon-button linkedin" title="Ir al sitio de Linkedin"><i class="icon-linkedin"></i><span></span></a></li>
              </ul>
            </div>

            <div class="col-sm-7 col-sm-pull-5 col-xs-12">
              <div class="copyRightText">
              <a href="http://www.url.edu.gt" target="_blank"><img src="http://2.bp.blogspot.com/-M76dyuMF898/Tc3Bvq2oI1I/AAAAAAAAAyA/T_FTywIhAU8/s170/Universidad-Rafael-Land%25C3%25ADvar-%2528Blanco-fondo-transaprente%2529.png" title= "Ir al sitio de la URL" id= "logl" class="logol"></a>


              </div>
              <p id= "tl" class ="tll">© 2017 Donado por Universidad Rafael Landivar.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>

  <div class="scrolling">
    <a href="#pageTop" class="backToTop hidden-xs" id="backToTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
  </div>

  <!-- LOGIN MODAL -->
  <div class="modal fade customModal" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="panel panel-default formPanel">
          <div class="panel-heading bg-color-1 border-color-1">
            <h3 class="panel-title">Inicio de Sesion</h3>
          </div>
          <div class="panel-body">
            <form action= {% url 'iniciar_sesion' %} method="POST" role="form" id="post-login">
              {% csrf_token %}
              <div class="form-group formField">
                <input type="text" required class="form-control" id="id_username" name="username" placeholder="Usuario">
              </div>
              <div class="form-group formField">
                <input type="password" required class="form-control" id="id_password" name="password"  placeholder="Contraseña">
              </div>
              <div class="form-group formField">
                <input type="submit" class="btn btn-primary btn-block bg-color-3 border-color-3" value="Ingresar">
              </div>
              <div class="form-group formField" id="results">
                <!--<p class="help-block"><a href="#">Usuario o Contraseña Incorrecto</a></p>-->
              </div>
              <!--<div class="form-group formField">
                <p class="help-block"><a href="#">Forgot password?</a></p>
              </div>-->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CREATE ACCOUNT MODAL -->
  <div class="modal fade customModal" id="createAccount" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="panel panel-default formPanel">
          <div class="panel-heading bg-color-1 border-color-1">
            <h3 class="panel-title">Creación de Cuenta</h3>
          </div>
          <div class="panel-body">
            <form action= {% url 'home:crear_perfil_p1' %} method="POST" role="form" id="post-crear-user">
              {% csrf_token %}
              <div class="form-group formField">
                <input type="text" class="form-control" id="id_usuario" name="usuario" placeholder="Usuario" required>
              </div>
              <div class="form-group formField">
                <input type="password" class="form-control" id="id_contrasenia" name="contrasenia" placeholder="Contraseña" required>
              </div>
              <div class="form-group formField">
                <input type="password" class="form-control" id="id_contrasenia_r" name="r_contraseña" placeholder="Repetir Contraseña" required>
              </div>
              <div class="form-group formField">
                <input type="text" class="form-control" id="id_nombre" name="nombre" placeholder="Nombre" required>
              </div>
              <div class="form-group formField">
                <input type="email" class="form-control" id="id_email" name="email" placeholder="Email" required>
              </div>
              <div class="form-group formField">
                <input type="text" pattern="[0-9]+" class="form-control" id="id_telefono" name="telefono" placeholder="Telefono" required>
              </div>
              <div class="form-group formField">
                Genero </br>
                <input type="radio" class="" id="id_genero" name="genero" value="True" checked> Hombre <br>
                <input type="radio" class="" id="id_genero" name="genero" value="False"> Mujer <br>
              </div>
              <div class="form-group formField">
                Fecha de Nacimiento </br>
                <input type="date" class="form-control" max="2000-12-31" id="id_nacimiento" name="nacimiento" required>
              </div>
              <div class="form-group formField">
                <input type="submit" class="btn btn-primary btn-block bg-color-3 border-color-3" value="Crear">
              </div>
              <div class="form-group formField" id="results_2">
                <!--<p class="help-block">Allready have an account? <a href="#">Log in</a></p>-->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"  ></script>
    <script src= "{% static "plugins/jquery-ui/jquery-ui.js" %}" ></script>
    <script src= "{% static "plugins/bootstrap/js/bootstrap.min.js" %}" ></script>
    <script src= "{% static "plugins/rs-plugin/js/jquery.themepunch.tools.min.js" %}" ></script>
    <script src= "{% static "plugins/rs-plugin/js/jquery.themepunch.revolution.min.js" %}" ></script>
    <script src= "{% static "plugins/selectbox/jquery.selectbox-0.1.3.min.js" %}" ></script>
    <script src= "{% static "plugins/owl-carousel/owl.carousel.js" %}" ></script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js" ></script>
    <script src= "{% static "plugins/counter-up/jquery.counterup.min.js" %}" ></script>
    <script src= "{% static "plugins/isotope/isotope.min.js" %}" ></script>
    <script src= "{% static "plugins/isotope/jquery.fancybox.pack.js" %}" ></script>
    <script src= "{% static "plugins/isotope/isotope-triger.js" %}" ></script>
    <script src= "{% static "plugins/countdown/jquery.syotimer.js" %}" ></script>
    <script src= "{% static "plugins/velocity/velocity.min.js" %}" ></script>
    <script src= "{% static "plugins/smoothscroll/SmoothScroll.js" %}" ></script>
    <script src= "{% static "js/custom.js" %}" ></script>

    {% block script %}{% endblock %}

    </body>
</html>
