{% extends "base.html" %}

{% block title %}Nueva Capsula{% endblock %}

{% block heading %}
      {% if create %}
      <br/>
      <h2>Nueva Capsula <br/>
        <small>>No debe superar los 255 caracteress</small>
      </h2>
      {% else %}
      <h1>
          Editar capsula
      </h1>
      {% endif %}
{% endblock %}

{% block content %}
  {% if create %}
    {% url "crear_capsula" as action_url %}
  {% else %}
    {% url 'editar_capsula' pk=form.instance.pk as action_url %}
  {% endif %}

  <div class="container">
  <form action="{% url 'crear_capsula' %}" method="post">
    <br/>
      {% csrf_token %}

      {{ form.fechaPublicacion.label_tag }}
      {{ form.fechaPublicacion }}
       <br/>
       {{ form.texto.label_tag }}
       <br/>
       {{ form.texto }}
       <br/>
      <input type="submit" class="btn btn-primary btn-lg active" role="button" value="Crear" />
  </form>
</div>
{% endblock %}
