{% extends "base.html" %}

{% block title %}Capsulas{% endblock %}

{% block heading %}
  <h2>Capsulas <br/>
    <small>Informacion </small>
  </h2>
{% endblock %}

{% block content %}
<a href= {% url 'crear_capsula' %}>Nueva Capsula</a>
<br/>
  {% for capsula in capsulas %}
    <li class="well well-sm">
  	<h2>{{capsula.texto}}</h2>
  	<h3>{{capsula.fechaPublicacion}}</h3>
  	<h4>{{capsula.usuario}}</h4>
    <a href= {% url 'editar_capsula' pk=capsula.id %}>Editar</a>
    </li>
  {% endfor %}
  {%if total == False%}
    <a href= "{% url 'ver_capsulas' %}?limit={{limit}}" >Mas</a>
  {%endif%}
{% endblock %}
