{% extends "base.html" %}
{% load static %}
  {% block title %}
    Categorias
  {% endblock %}

{% block main-section %}
    <!-- MAIN SECTION -->
    <section class="mainContent full-width clearfix homeGallerySection">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="sectionTitle text-center">
              <h2>
                <span class="shape shape-left bg-color-4"></span>
                <span>{{categoria.categoria}}</span>
                <span class="shape shape-right bg-color-4"></span>
              </h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="filter-container isotopeFilters">
              <ul class="list-inline filter">
                <li class="active"><a href="#" id="eventos" data-filter=".eventos">Eventos</a></li>
                <li class><a href="#" id="artistas" data-filter=".artistas">Artistas</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row isotopeContainer" id="container">
          {% for actividad in actividad %}
          <div class="col-sm-4 col-xs-12 block isotopeSelector eventos">
            <div class="thumbnail thumbnailContent">
              <a href={% url 'home:detalle_evento' username=actividad.perfil.all.get.user.username id=actividad.id %}><img src= "{{MEDIA_URL}}{{actividad.imagen}}" alt="image" class="img-responsive"></a>
              <div class="sticker-round bg-color-1">{{actividad.get_dia}}<br>{{actividad.get_mes}}<br>{{actividad.get_anio}}</div>
              <div class="caption border-color-1">
                <h3><a href={% url 'home:detalle_evento' username=actividad.perfil.all.get.user.username id=actividad.id %}  class="color-1">{{actividad.nombre}}</a></h3>
                <ul class="list-inline">
                  <li><a href={% url 'home:perfil' username=actividad.perfil.all.get.user.username %} ><i class="fa fa-user" aria-hidden="true"></i>{{actividad.perfil.all.get.nombreArtista}}</a></li>
                  <li><i class="fa fa-comments-o" aria-hidden="true"></i>{{actividad.get_numero_comentarios}} </li>
                </ul>
                <p>{{actividad.get_descripcion}}</p>
                <ul class="list-inline btn-yellow">
                  <li><a href={% url 'home:detalle_evento' username=actividad.perfil.all.get.user.username id=actividad.id %} class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Leer mas</a></li>
                </ul>
              </div>
            </div>
          </div>
          {% endfor %}
          {%for perfil in perfil%}
          <div class="col-sm-6 col-xs-12 isotopeSelector artistas">
            <div class="media teamStyle">
              <a class="media-left">
                <img class="img-rounded img-responsive" src="{{MEDIA_URL}}{{perfil.imagen}}" alt="Image">
              </a>
              <div class="media-body">
                <h4 class="media-heading"><a href={% url 'home:perfil' username=perfil.user.username %}>{{perfil.nombreArtista}}</a></h4>
                <h5>{%if perfil.get_categorias%}{{perfil.get_categorias}}{%endif%}</h5>
                <p>{{perfil.get_descripcion}}</p>
                <ul class="list-inline">
                  {%if perfil.facebook%}
                  <li><a href="{{perfil.facebook}}" class="bg-color-1"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  {%endif%}
                  {%if perfil.twitter%}
                  <li><a href="{{perfil.twitter}}" class="bg-color-2"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  {%endif%}
                  {%if perfil.youtube%}
                  <li><a href="{{perfil.youtube}}" class="bg-color-3"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                  {%endif%}
                  {%if perfil.otro%}
                  <li><a href="{{perfil.otro}}" class="bg-color-4"><i class="fa fa-world" aria-hidden="true"></i></a></li>
                  {%endif%}
                </ul>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
{% endblock %}

{% block script %}
<script>
$(document).ready( function() {
  $('#eventos').click( function() {
      var opcion = 1;
      console.log(opcion);
      $.ajax({
        url : '{% url 'home:categoria' id=categoria.id %}',
        type : 'POST',
        data : {
          op : opcion,
        },
        success : function(response) {
        }
      });
  });
  $('#artistas').click( function() {
      var opcion = 0;
      console.log(opcion);
      $.ajax({
        url : '{% url 'home:categoria' id=categoria.id %}',
        type : 'POST',
        data : {
          op : opcion,
        },
        success : function(response) {
        }
      });
  });
});
</script>
{% endblock %}
