{% extends "base.html" %}
{% load static %}
  {% block title %}
    Crear actividad
  {% endblock %}

  {% block main-section %}
    <!-- MAIN SECTION -->
    <section class="mainContent full-width clearfix">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-push-8 col-xs-12">
          </div>
          <div class="col-sm-8  col-sm-pull-4 col-xs-12">
            <form action='{% url 'home:crear_evento' username=request.user.username %}' enctype="multipart/form-data" method="POST" role="form" id="crearEvento">
              {% csrf_token %}
              <div class="panel panel-default checkoutInfo">
                <div class="panel-heading bg-color-3 border-color-3">
                  <h3 class="panel-title">Informacion del evento</h3>
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <div class="col-xs-12">
                      <label for="">Nombre</label>
                      <input type="text" class="form-control border-color-1" name="nombre" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-12">
                      <label for="">Lugar</label>
                      <input type="text" class="form-control border-color-2" name="lugar" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-12">
                      <label for="">Fecha de realización</label>
                      <input type="date" class="form-control border-color-3" name="fecha" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-12">
                      <label for="">Hora</label>
                      <input type="time" class="form-control border-color-4" name="hora" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-12">
                      <label for="">Descripcion</label>
                      <textarea class="form-control border-color-5" rows="2" name="descripcion"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-12">
                      <label for="">Imagen</label>
                      <input type="file" class="form-control border-color-6" id="imagen" name="imagen">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-12">
                      <label for="">Categoria</label>
                      <div class="bookingDrop">
                        <select name="categoria" id="categoria" class="select-drop" required>
                          <option value="">Seleccione una categoria</option>
                          <option value="Arquitectura">Arquitectura</option>
                          <option value="Escultura">Escultura</option>
                          <option value="Pintura">Pintura</option>
                          <option value="Cine">Cine</option>
                          <option value="Teatro">Teatro</option>
                          <option value="Musica">Musica</option>
                          <option value="Danza">Danza</option>
                          <option value="Literatura">Literatura</option>
                          <option value="Fotografia">Fotografia</option>
                          <option value="Pintura">Pintura</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="continueBtnArea">
                <ul class="list-inline">
                  <li class="pull-right"><input type="submit" value="Crear evento" id="btnGuardar" class="btn btn-primary"></input></li>
                </ul>
              </div>
              <div class="form-group formField" id="results_3">
                <!--<p class="help-block"><a href="#">Usuario o Contraseña Incorrecto</a></p>-->
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}

  {% block script %}
  <script>
  function crear_evento(formData) {
    console.log("create post is working!") // sanity check
    $.ajax({
        url : '{% url 'home:crear_evento' username=request.user.username %}', // the endpoint
        type : "POST", // http method
        //dataType: "html",
        data : formData,
        cache: false,
        contentType: false,
        processData: false// data sent with the post request
        // handle a successful response

    });
  };
  </script>
  {% endblock %}
