<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Administracion</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href= "{% static "css/simple-sidebar.css" %}" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div class="encabezado">
        <ul class="btn">
            <a href="#menu-toggle" id="menu-toggle">Desplegar</a>
        </ul>
        <ul>
            <h3 align=center><font face="univers" color="white">Estadisticas</font><h3>
         </ul>
       </div>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Menu
                    </a>
                </li>
                    <li><a href="{% url 'estadisticas' %}?type=visitasArtistas&g=Pie">Artistas mas vistos</a>
                    <li><a href="{% url 'estadisticas' %}?type=visitasEventos&g=Pie">Eventos mas vistos</a>
                    <li><a href="#"></a>
                    <li><a href="{% url 'estadisticas' %}?type=generoArtistas&g=Pie">Artistas por Genero</a>
                    <li><a href="#"></a>
                    <li><a href="{% url 'estadisticas' %}?type=categoriaArtistas&g=Pie">Categorias de Artista</a>
                    <li><a href="{% url 'estadisticas' %}?type=categoriaEventos&g=Pie">Categorias de Eventos</a>
                    <li><a href="#"></a>
                    <li><br/>
                    <li><a href="{% url 'administracion' %}">Volver</a>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="container col-sm-12 col-lg-12">
              {%if grafico%}
                  <div class = "grafico">{{grafico|safe}}</div>
              {%endif%}
            </div>

            </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}" ></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>
</html>
