{% extends "base.html" %}

{% block title %}
  {% if create %}Crear{% else %}Editar{% endif %} perfil
{% endblock %}

{% block heading %}
  <h1>
    {% if create %}
      Crear perfil
    {% else %}
        Editar perfil
    {% endif %}
  </h1>
{% endblock %}

{% block content %}
  {% if create %}
    {% url "home_perfil_create" as action_url %}
  {% else %}
    {% url 'home:editar_perfil' pk=form.instance.pk as action_url %}
  {% endif %}
  
  </div>
  <div class="container">
  <form action="{{ action_url }}" method="post" accept-charset="utf-8">
    <br/><br/><br/>
    {% csrf_token %}
    <div class = "container col-md-6 col-md-offset-3">
      {{ form.nombreArtista.label_tag }}
      {{ form.nombreArtista }}
      {{ form.nombreArtista.errors }}
      <br/><br/>
      {{ form.nombreReal.label_tag }}
      {{ form.nombreReal }}
      {{ form.nombreReal.errors }}
      <br/><br/>
      {{ form.imagen.label_tag }}
      {{ form.imagen }}
      {{ form.imagen.errors }}
      <br/><br/>
      {{ form.sexo.label_tag }}
      {{ form.sexo }}
      {{ form.sexo.errors }}
      <br/><br/>
      {{ form.fechaNacimiento.label_tag }}
      {{ form.fechaNacimiento }}
      {{ form.fechaNacimiento.errors }}
      <br/><br/>
      {{ form.telefono.label_tag }}
      {{ form.telefono }}
      {{ form.telefono.errors }}
      <br/><br/>
      {{ form.email.label_tag }}
      {{ form.email }}
      {{ form.email.errors }}
      <br/><br/>
      {{ form.descripcion.label_tag }}
      {{ form.descripcion }}
      {{ form.descripcion.errors }}
      <br/><br/>
        <div class = "container col-md-6 col-md-offset-3">
          <br>
            <p><input type="submit" class="save btn btn-default" value="Guardar"></p>
        </div>
        <br/>
        <div class="Container col-md-12">
          <ul>
            <a href={% url 'home:home' %}>Regresar</a>
          </ul>
        </div>
    </div>
  </form>
{% endblock %}
