{% extends "base.html" %}
{% load static %}
  {% block title %}
    Home
  {% endblock %}

  {% block css %}
    <link rel="shortcut icon" href= "{% static "img/favicon.png" %}">
  {% endblock %}
    {% block banner %}
      <!-- Banner de Imagenes Superior -->
      <section class="bannercontainer bannercontainerV1">
      <div class="fullscreenbanner-container">
        <div class="fullscreenbanner">
          <ul>
            <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
              <img src= "{% static "img/home/slider/slider-5.jpg" %}" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
              <div class="slider-caption container">
                <div class="tp-caption rs-caption-1 sft start"
                  data-hoffset="0"
                  data-y="200"
                  data-speed="800"
                  data-start="1000"
                  data-easing="Back.easeInOut"
                  data-endspeed="300">
                  Sabías Que...
                </div>

                <div class="tp-caption rs-caption-2 sft"
                  data-hoffset="0"
                  data-y="265"
                  data-speed="1000"
                  data-start="1500"
                  data-easing="Power4.easeOut"
                  data-endspeed="300"
                  data-endeasing="Power1.easeIn"
                  data-captionhidden="off">
                  {{capsula.texto}}
                </div>
              </div>
            </li>
            <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
              <img src= "{% static "img/home/slider/slider-6.jpg" %}" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
              <div class="slider-caption container">
                <div class="tp-caption rs-caption-1 sft start text-center"
                  data-hoffset="0"
                  data-x="center"
                  data-y="200"
                  data-speed="800"
                  data-start="1000"
                  data-easing="Back.easeInOut"
                  data-endspeed="300">
                  Sabías que...
                </div>

                <div class="tp-caption rs-caption-2 sft text-center"
                  data-hoffset="0"
                  data-x="center"
                  data-y="265"
                  data-speed="1000"
                  data-start="1500"
                  data-easing="Power4.easeOut"
                  data-endspeed="300"
                  data-endeasing="Power1.easeIn"
                  data-captionhidden="off">
                  {{capsula.texto}} <br>
                </div>
              </div>
            </li>
            <li data-transition="fade" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
              <img src= "{% static "img/home/slider/slider-7.jpg" %}" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
              <div class="slider-caption container">
                <div class="tp-caption rs-caption-1 sft start text-right"
                  data-hoffset="0"
                  data-y="200"
                  data-x="right"
                  data-speed="800"
                  data-start="1000"
                  data-easing="Back.easeInOut"
                  data-endspeed="300">
                  Sabías que..
                </div>

                <div class="tp-caption rs-caption-2 sft text-right"
                  data-hoffset="0"
                  data-y="265"
                  data-x="right"
                  data-speed="1000"
                  data-start="1500"
                  data-easing="Power4.easeOut"
                  data-endspeed="300"
                  data-endeasing="Power1.easeIn"
                  data-captionhidden="off">
                  {{capsula.texto}}

                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    {% endblock %}

    {% block main-section%}
      <!-- Banners Superiores -->
      <section class="clearfix linkSection hidden-xs">
        <div class="sectionLinkArea hidden-xs scrolling">
          <div class="container">
            <div class="row">
              <!--<div class="col-sm-3">
                <a href="#ourCourses" class="sectionLink bg-color-1" id="coursesLink">
                  <i class="fa fa-file-text-o linkIcon border-color-1" aria-hidden="true"></i>
                  <span class="linkText">Courses</span>
                  <i class="fa fa-chevron-down locateArrow" aria-hidden="true"></i>
                </a>
              </div>-->
              <div class="col-sm-3">
                <a href="#ourTeam" class="sectionLink bg-color-2" id="teamLink">
                  <i class="fa fa-star-half-o linkIcon border-color-2" aria-hidden="true"></i>
                  <!--artistas-->
                  <span class="linkText">Artistas</span>
                  <i class="fa fa-chevron-down locateArrow" aria-hidden="true"></i>
                </a>
              </div>
              <!--<div class="col-sm-3">
                <a href="#ourGallery" class="sectionLink bg-color-3" id="galleryLink">
                  <i class="fa fa-picture-o linkIcon border-color-3" aria-hidden="true"></i>
                  <span class="linkText">Gallery</span>
                  <i class="fa fa-chevron-down locateArrow" aria-hidden="true"></i>
                </a>
              </div>-->
              <div class="col-sm-3">
                <a href="#latestNews" class="sectionLink bg-color-4" id="newsLink">
                  <i class="fa fa-calendar-o linkIcon border-color-4" aria-hidden="true"></i>
                  <!--eventos-->
                  <span class="linkText">Eventos</span>
                  <i class="fa fa-chevron-down locateArrow" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      </br>

      <!--Artistas -->
      <section class="colorSection full-width clearfix bg-color-5 teamSection" id="ourTeam">
        <div class="container">
          <div class="sectionTitle text-center alt">
            <h2>
              <span class="shape shape-left bg-color-3"></span>
              <span>Conoce a tus artistas</span>
              <span class="shape shape-right bg-color-3"></span>
            </h2>
          </div>

          {%if artistas %}

          <div class="row">
            <div class="col-xs-12">
              <div class="owl-carousel teamSlider">

              {% for artista in artistas %}
                    <div class="slide">
                      <div class="teamContent">
                        <div class="teamImage">
                          <img src= "{{MEDIA_URL}}{{artista.imagen}}" alt="img" class="img-circle">
                          <div class="maskingContent">
                            <ul class="list-inline">
                              <li><a href={% url 'home:perfil' username=artista.user.username %}>detalles</a></li>
                              <!--<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>-->
                            </ul>
                          </div>
                        </div>
                        <div class="teamInfo">
                          <h3><a href={% url 'home:perfil' username=artista.user.username %}>{{artista.nombreArtista}}</a></h3>
                          <p>{{artista.get_categorias}}</p>
                        </div>
                      </div>
                    </div>
              {% endfor %}

              </div>
            </div>
          </div>

          <div class="btnArea">
            <a href={% url 'home:artistas' %} class="btn btn-primary">Ver Mas</a>
          </div>
          {%else%}
          <div class="sectionTitle text-center alt">
            <h2>
              <span class="shape shape-left bg-color-2"></span>
              <span>Nadie aquí por ahora</span>
              <span class="shape shape-right bg-color-2"></span>
            </h2>
          </div>
          {%endif%}
                <!--<div class="slide">
                  <div class="teamContent">
                    <div class="teamImage">
                      <img src= "{% static "img/home/team/team-2.jpg" %}" alt="img" class="img-circle">
                      <div class="maskingContent">
                        <ul class="list-inline">
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="teamInfo">
                      <h3><a href="teachers-details.html">Amanda Stone</a></h3>
                      <p>English Teacher</p>
                    </div>
                  </div>
                </div>
                <div class="slide">
                  <div class="teamContent">
                    <div class="teamImage">
                      <img src= "{% static "img/home/team/team-3.jpg" %}" alt="img" class="img-circle">
                      <div class="maskingContent">
                        <ul class="list-inline">
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="teamInfo">
                      <h3><a href="teachers-details.html">Amanda Stone</a></h3>
                      <p>English Teacher</p>
                    </div>
                  </div>
                </div>
                <div class="slide">
                  <div class="teamContent">
                    <div class="teamImage">
                      <img src= "{% static "img/home/team/team-4.jpg" %}" alt="img" class="img-circle">
                      <div class="maskingContent">
                        <ul class="list-inline">
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="teamInfo">
                      <h3><a href="teachers-details.html">Amanda Stone</a></h3>
                      <p>English Teacher</p>
                    </div>
                  </div>
                </div>-->

                <!--<div class="slide">
                  <div class="teamContent">
                    <div class="teamImage">
                      <img src= "{% static "img/home/team/team-2.jpg" %}" alt="img" class="img-circle">
                      <div class="maskingContent">
                        <ul class="list-inline">
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="teamInfo">
                      <h3><a href="teachers-details.html">Amanda Stone</a></h3>
                      <p>English Teacher</p>
                    </div>
                  </div>
                </div>
                <div class="slide">
                  <div class="teamContent">
                    <div class="teamImage">
                      <img src= "{% static "img/home/team/team-3.jpg" %}" alt="img" class="img-circle">
                      <div class="maskingContent">
                        <ul class="list-inline">
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="teamInfo">
                      <h3><a href="teachers-details.html">Amanda Stone</a></h3>
                      <p>English Teacher</p>
                    </div>
                  </div>
                </div>
                <div class="slide">
                  <div class="teamContent">
                    <div class="teamImage">
                      <img src= "{% static "img/home/team/team-4.jpg" %}" alt="img" class="img-circle">
                      <div class="maskingContent">
                        <ul class="list-inline">
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="teamInfo">
                      <h3><a href="teachers-details.html">Amanda Stone</a></h3>
                      <p>English Teacher</p>
                    </div>
                  </div>
                </div>-->

        </div>
      </section>

      <!-- Eventos -->
      <section class="whiteSection full-width clearfix newsSection" id="latestNews">
        <div class="container">
          <div class="sectionTitle text-center">
            <h2>
              <span class="shape shape-left bg-color-4"></span>
              <span>Últimos eventos</span>
              <span class="shape shape-right bg-color-4"></span>
            </h2>
          </div>

          {%if eventos%}
          <div class="row">
          {%for evento in eventos%}
            <div class="col-sm-4 col-xs-12 block">
              <div class="thumbnail thumbnailContent">
                <a href={% url 'home:detalle_evento' username=evento.perfil.all.get.user.username id=evento.id %}><img src="{{MEDIA_URL}}{{evento.imagen}}" alt="image" class="img-responsive"></a>
                <div class="sticker-round bg-color-1">{{evento.get_dia}}<br>{{evento.get_mes}}<br>{{evento.get_anio}}</div>
                <div class="caption border-color-1">
                  <h3><a class="color-1">{{evento.nombre}}.</a></h3>
                  <ul class="list-inline">
                    <li><a href={% url 'home:perfil' username=evento.perfil.all.get.user.username %} ><i class="fa fa-user" aria-hidden="true"></i>{{evento.perfil.all.get.nombreArtista}}</a></li>
                    <li><a ><i class="fa fa-comments-o" aria-hidden="true"></i>{{evento.get_numero_comentarios}} Comentarios</a></li>
                  </ul>
                  <p>{{evento.get_descripcion}} </p>
                  <ul class="list-inline btn-yellow">
                    <li><a href={% url 'home:detalle_evento' username=evento.perfil.all.get.user.username id=evento.id %} class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Ver Mas</a></li>
                  </ul>
                </div>
              </div>
            </div>
          {%endfor%}
          <!--<div class="col-sm-4 col-xs-12 block">
            <div class="thumbnail thumbnailContent">
              <a href="single-blog-left-sidebar.html"><img src= "{% static "img/home/news/news-2.jpg" %}" alt="image" class="img-responsive"></a>
              <div class="sticker-round bg-color-2">10 <br>July</div>
              <div class="caption border-color-2">
                <h3><a href="single-blog-left-sidebar.html" class="color-2">Vestibulum congue massa vitae.</a></h3>
                <ul class="list-inline">
                  <li><a href="single-blog-left-sidebar.html"><i class="fa fa-user" aria-hidden="true"></i>Jone Doe</a></li>
                  <li><a href="single-blog-left-sidebar.html"><i class="fa fa-comments-o" aria-hidden="true"></i>4 Comments</a></li>
                </ul>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classi cal Latin literature. </p>
                <ul class="list-inline btn-green">
                  <li><a href="single-blog-left-sidebar.html" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Read More</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12 block">
            <div class="thumbnail thumbnailContent">
              <a href="single-blog-left-sidebar.html"><img src= "{% static "img/home/news/news-3.jpg" %}" alt="image" class="img-responsive"></a>
              <div class="sticker-round bg-color-3">10 <br>July</div>
              <div class="caption border-color-3">
                <h3><a href="single-blog-left-sidebar.html" class="color-3">Curabitur ac nulla sodales risus.</a></h3>
                <ul class="list-inline">
                  <li><a href="single-blog-left-sidebar.html"><i class="fa fa-user" aria-hidden="true"></i>Jone Doe</a></li>
                  <li><a href="single-blog-left-sidebar.html"><i class="fa fa-comments-o" aria-hidden="true"></i>4 Comments</a></li>
                </ul>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classi cal Latin literature. </p>
                <ul class="list-inline btn-red">
                  <li><a href="single-blog-left-sidebar.html" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Read More</a></li>
                </ul>
              </div>
            </div>
          </div>  -->
          </div>
          <div class="btnArea">
            <a href={% url 'home:eventos' %} class="btn btn-primary">Ver Todos</a>
          </div>
          {%else%}
          <div class="sectionTitle text-center">
            <h2>
              <span class="shape shape-left bg-color-2"></span>
              <span>Nada aquí por ahora</span>
              <span class="shape shape-right bg-color-2"></span>
            </h2>
          </div>
          {%endif%}

        </div>
      </section>

    {% endblock %}
