<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Inicio</title>
		<link rel="stylesheet" type="text/css" href="../../static/css/estilosI.css">
	</head>
	<body>
		<div class="encabezado">
			<ul>
				<a href="#">Iniciar Sesión</a>
				<a href="#">Registrarse</a>
			</ul>
		</div>
		<div class="fondo">
			<div class="capsula">
				<p>{{ capsula.texto }}</p>
			</div>
			<div ="imagen">
				<img src="../../static/imagenes/fondo.jpg" alt="nel prro">
			</div>
		</div>
		<div class="menu">
			<div class="menus">
				<ul>
					<a href="listaEventos.html">Eventos</a>
					<hr/>
					<a href="listaArtistas.html">Artistas</a>
				</ul>
			</div>
		</div>
		<footer>Casa de la cultura</footer>
	</body>
</html>
