<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>

    <!-- Bootstrap Core CSS -->
    <link href= "{% static "css/bootstrap.min.css"  %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/simple-sidebar.css/" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div class="encabezado">
        <ul class="btn">
            <a href="#menu-toggle" id="menu-toggle">Desplegar</a>
        </ul>
        <ul>

          {% if logeado == False %}
              <a href= {% url 'iniciar_sesion' %} >Iniciar Sesión</a>
              <a href={% url 'home:crear_perfil_p1' %}>Registrarse</a>
          {% else %}

              <a href={% url 'cerrar_sesion' %}>Cerrar Sesion</a>
                <a >Bienvenido {{ usuario }} </a>
          {% endif %}

         </ul>
    </div>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Menu
                    </a>
                </li>
                    {% if admin == True %}
                    <li><a href={% url 'administracion' %}>Administración</a>
                    {%endif%}
                    <li><a href={% url 'home:artistas' %}>Artistas</a>
                    <li><a href={% url 'home:eventos' %}>Eventos</a>
                    {% if logeado == True %}
                    <li><a href={% url 'home:perfil' username=user.username %}>Perfil</a>

                    <li><a href={% url 'home:actividad_user' username=user.username %}>Mis eventos</a>
                    <li><a href={% url 'home:crear_evento' username=user.username %}>Crear evento</a>

                    {%endif%}

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <!--id="page-content-wrapper"-->
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-lg-12">
                        <h3>Sabías Que:</h3>
                        <p>{{capsula.texto}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}" ></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}" ></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
