{% extends "base.html" %}
{% load static %}
  {% block title %}
    Categorias
  {% endblock %}

  {%block main-section%}
    <!-- CATEGORY SECTION -->
    <!-- Por el momento los id's se tienen que cambiar manualmente -->
    <section class="mainContent full-width clearfix productSection categorySection">
      <div class="container">

        <div class="row">
          <div class="col-xs-12">
            <div class="sectionTitle text-center">
              <h2>
                <span class="shape shape-left bg-color-4"></span>
                <span>Categorias</span>
                <span class="shape shape-right bg-color-4"></span>
              </h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 col-xs-6">
            <div class="box bg-color-1">
              <div class="box-img border-color-1 text-center">
                <a href={% url 'home:categoria' id=3 %}>
                  <img src="{% static "img/category/a1.jpg" %}" alt="image" class="img-responsive">
                </a>
              </div>
              <div class="box-info">
                <h4><a href={% url 'home:categoria' id=3 %}>Arquitectura</a></h4>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-xs-6">
            <div class="box bg-color-3">
              <div class="box-img border-color-3 text-center">
                <a href={% url 'home:categoria' id=4 %}>
                  <img src="{% static "img/category/e1.jpg" %}" alt="image" class="img-responsive">
                </a>
              </div>
              <div class="box-info">
                <h4><a href={% url 'home:categoria' id=4 %}>Escultura</a></h4>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-xs-6">
            <div class="box bg-color-4">
              <div class="box-img border-color-4 text-center">
                <a href={% url 'home:categoria' id=5 %}>
                  <img src="{% static "img/category/p1.jpg" %}" alt="image" class="img-responsive">
                </a>
              </div>
              <div class="box-info">
                <h4><a href={% url 'home:categoria' id=5 %}>Pintura</a></h4>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-xs-6">
            <div class="box bg-color-6">
              <div class="box-img border-color-6 text-center">
                <a href={% url 'home:categoria' id=6 %}>
                  <img src="{% static "img/category/c1.jpg" %}" alt="image" class="img-responsive">
                </a>
              </div>
              <div class="box-info">
                <h4><a href={% url 'home:categoria' id=6 %}>Cine</a></h4>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-xs-6">
            <div class="box bg-color-5">
              <div class="box-img border-color-5 text-center">
                <a href={% url 'home:categoria' id=7 %}>
                  <img src="{% static "img/category/t1.jpg" %}" alt="image" class="img-responsive">
                </a>
              </div>
              <div class="box-info">
                <h4><a href={% url 'home:categoria' id=7 %}>Teatro</a></h4>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-xs-6">
            <div class="box bg-color-1">
              <div class="box-img border-color-1 text-center">
                <a href={% url 'home:categoria' id=2 %}>
                  <img src="{% static "img/category/m1.jpg" %}" alt="image" class="img-responsive">
                </a>
              </div>
              <div class="box-info">
                <h4><a href={% url 'home:categoria' id=2 %}>Musica</a></h4>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-xs-6">
            <div class="box bg-color-2">
              <div class="box-img border-color-2 text-center">
                <a href={% url 'home:categoria' id=8 %}>
                  <img src="{% static "img/category/d1.jpg" %}" alt="image" class="img-responsive">
                </a>
              </div>
              <div class="box-info">
                <h4><a href={% url 'home:categoria' id=8 %}>Danza</a></h4>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-xs-6">
            <div class="box bg-color-3">
              <div class="box-img border-color-3 text-center">
                <a href={% url 'home:categoria' id=9 %}>
                  <img src="{% static "img/category/l1.jpg" %}" alt="image" class="img-responsive">
                </a>
              </div>
              <div class="box-info">
                <h4><a href={% url 'home:categoria' id=9 %}>Literatura</a></h4>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-xs-6">
            <div class="box bg-color-4">
              <div class="box-img border-color-4 text-center">
                <a href={% url 'home:categoria' id=10 %}>
                  <img src="{% static "img/category/f1.jpg" %}" alt="image" class="img-responsive">
                </a>
              </div>
              <div class="box-info">
                <h4><a href={% url 'home:categoria' id=10 %}>Fotografia</a></h4>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
  {% endblock %}
