{% extends "base.html" %}
{% load static %}
  {% block title %}
    Categorias
  {% endblock %}

  {%block main-section%}
    <!-- CATEGORY SECTION -->
    <!-- Por el momento los id's se tienen que cambiar manualmente -->
    <section class="mainContent full-width clearfix productSection categorySection">
      <div class="container">

        <div class="row">
          <div class="col-xs-12">
            <div class="sectionTitle text-center">
              <h2>
                <span class="shape shape-left bg-color-4"></span>
                <span>Categorias</span>
                <span class="shape shape-right bg-color-4"></span>
              </h2>
            </div>
          </div>
        </div>

        <div class="row">
          {%for categoria in categorias%}
            <div class="col-md-3 col-xs-6">
            <div class="box bg-color-1">
              <div class="box-img border-color-1 text-center">
                <a href={% url 'home:categoria' id=categoria.id %}>
                  <img src="{{MEDIA_URL}}{{categoria.imagen}}" alt="image" class="img-responsive">
                </a>
              </div>
              <div class="box-info">
                <h4><a href={% url 'home:categoria' id=categoria.id %}>{{categoria.categoria}}</a></h4>
              </div>
            </div>
          </div>
          {%endfor%}

        </div>
      </div>
    </section>
  {% endblock %}
