{% extends "base.html" %}

{% block title %}
  Perfil
{% endblock %}

{%block heading %}
	<h3 align=center><font face="univers" color="white">Perfil</font><h3>
{% endblock %}

{% block content %}
	<div class="container col-sm-12 col-md-6">
		<img src="/media/{{perfil.imagen.name}}" alt="Imagen">
	</div>
	<div class="container col-sm-12 col-md-6">
		<h4>Nombre de Artista: {{perfil.nombreArtista}} </h4>
		<h4>Nombre Real: {{perfil.nombreReal}} </h4>
		{% if perfil.sexo == 1 %}
			<h4>Genero: Masculino</h4>
		{% else %}
			<h4>Genero: Femenino</h4>
		{% endif %}
		<h4>Fecha de Nacimiento: {{perfil.fechaNacimiento}} </h4>
		<h4>Visitas al perfil: {{perfil.visitas}} </h4>
		<h4>Telefono: {{perfil.telefono}} </h4>
		<h4>Correo: {{perfil.email}} </h4>

    {%if es_propietario == True %}
		<a href={% url 'home:editar_perfil' username=perfil.user.username %} class="btn btn-default">Editar</a>
    {%endif%}
	</div>
{% endblock %}

{% block footer %}
	{%if es_propietario == False %}
		<a href="{% url 'home:artistas' %}">volver a Artistas</a>
		<br/>
	{%endif%}
{% endblock %}
