{% extends "base.html" %}
{% load staticfiles%}

{% block title %}
  Perfil
{% endblock %}

{%block heading %}
	<h1>Perfil</h1>
{% endblock %}

{% block content %}
	<div class="container col-sm-12 col-md-6">
		<br/>
		<img src="/media/{{perfil.imagen.name}}" alt="Imagen">
	</div>
	<div class="container col-sm-12 col-md-6">
		<h4>Nombre de Artista: {{perfil.nombreArtista}} </h4>
		<h4>Nombre Real: {{perfil.nombreReal}} </h4>
		<h4>Fecha de Nacimiento: {{perfil.fechaNacimiento}} </h4>
		<h4>Visitas al perfil: {{perfil.visitas}} </h4>
		<h4>Telefono: {{perfil.telefono}} </h4>
		<h4>Correo: {{perfil.email}} </h4>
		<a href="#" class="btn btn-default">Editar</a>
	</div>
{% endblock %}
