{% extends 'base.html' %}

{% block title%}Artistas{% endblock %}

{% block heading%} <h1>Artistas</h1> {% endblock %}

{% block text %}
  {% if not autorizar %}
    <h3>Buscar</h3>
    <div class="search_box">
      {% csrf_token %}
      <input type="text" placeholder="Buscar..."  id="searchA" name="search">
    <div id="search-text"></div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}

  <ul class="list-unstyled">
  {% for perfil in perfil %}
    {% if perfil.rol.is_artista == True %}
       <li class="well well-sm">
       <a class="lead" href={% url 'home:perfil' username=perfil.user.username %}>{{perfil.nombreArtista}}  {{ perfil.email }}</a>
       {% if perfil.descripcion %}
         <br>{{ perfil.descripcion|linebreaksbr }}
       {% endif %}
       {% if perfil.categoria.count %}
         {% for categoria in perfil.categoria.all %}
           <span class="label label-primary">{{ categoria|lower }}</span>&nbsp;
         {% endfor %}

       {% endif %}
      {% endif %}
      {% if autorizar %}
          {% csrf_token %}
           <button onclick="authorizeArtist('{{perfil.id}}')">Aceptar</a>
           <button onclick="deleteArtist('{{perfil.id}}')">Rechazar</a>
         {% endif %}
     </li>

  {% empty %}
  <li><h3>No hay artistas</h3></li>
  {% endfor %}
  </ul>
  {%if total == False%}
    <a href= "{% url 'home:artistas' %}?limit={{limit}}" >Mas</a>
  {%endif%}
{% endblock %}
