{% extends "base.html" %}
{% load static %}
  {% block title %}
    {{perfil.nombreArtista}}
  {% endblock %}

  {% block main-section %}

    <!-- CREATE ACCOUNT MODAL -->
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="panel panel-default formPanel">
          <div class="panel-heading bg-color-1 border-color-1">
            <h3 class="panel-title">Creación de Cuenta</h3>
          </div>
          <div class="panel-body">
            <form action= {% url 'home:crear_perfil_p1' %} method="POST" role="form" id="post-crear-user">
              {% csrf_token %}
              <div class="form-group formField">
                <input type="text" class="form-control" id="id_usuario" name="usuario" placeholder="Usuario" required>
              </div>
              <div class="form-group formField">
                <input type="password" class="form-control" id="id_contrasenia" name="contrasenia" placeholder="Contraseña" required>
              </div>
              <div class="form-group formField">
                <input type="password" class="form-control" id="id_contrasenia_r" name="r_contraseña" placeholder="Repetir Contraseña" required>
              </div>
              <div class="form-group formField">
                <input type="text" class="form-control" id="id_nombre" name="nombre" placeholder="Nombre" required>
              </div>
              <div class="form-group formField">
                <input type="email" class="form-control" id="id_email" name="email" placeholder="Email" required>
              </div>
              <div class="form-group formField">
                <input type="text" pattern="[0-9]+" class="form-control" id="id_telefono" name="telefono" placeholder="Telefono" required>
              </div>
              <div class="form-group formField">
                Telefono Publico </br>
                <input type="radio" class="" id="id_publico" name="telefono" value="True" checked> Si <br>
                <input type="radio" class="" id="id_publico" name="telefono" value="False"> No <br>
              </div>
              <br>
              <div class="form-group formField">
                Facebook
                <input type="url" class="form-control" id="id_facebook" name="facebook" placeholder="Ej: http://www.facebook.com/casacultura">
              </div>
              <div class="form-group formField">
                Twitter
                <input type="url" class="form-control" id="id_twitter" name="twitter" placeholder="Ej: http://www.twitter.com/casacultura">
              </div>
              <div class="form-group formField">
                Youtube
                <input type="url" class="form-control" id="id_youtube" name="youtube" placeholder="Ej: http://www.youtube.com/casacultura">
              </div>
              <div class="form-group formField">
                Web
                <input type="url" class="form-control" id="id_web" name="web" placeholder="Ej: http://www.casacultura.com">
              </div>

              <div class="form-group formField">
                Genero </br>
                <input type="radio" class="" id="id_genero" name="genero" value="True" checked> Hombre <br>
                <input type="radio" class="" id="id_genero" name="genero" value="False"> Mujer <br>
              </div>
              </br>
              <div class="form-group formField">
                Fecha de Nacimiento </br>
                <input type="date" class="form-control" max="2000-12-31" id="id_nacimiento" name="nacimiento" required>
              </div>
              <div class="form-group formField">
                  Categoría</br>
                  <div class="bookingDrop">
                    <select onfocus="this.size=5;" onblur="this.size=1;" onchange="this.size=1; this.blur();"name="categoria" id="categoria" class="select-drop"required>
                      <option value="">Seleccione una categoría</option>
                      <option value="Arquitectura">Arquitectura</option>
                      <option value="Escultura">Escultura</option>
                      <option value="Pintura">Pintura</option>
                      <option value="Cine">Cine</option>
                      <option value="Teatro">Teatro</option>
                      <option value="Musica">Música</option>
                      <option value="Danza">Danza</option>
                      <option value="Literatura">Literatura</option>
                      <option value="Fotografia">Fotografía</option>
                    </select>
                  </div>
              </div>
              <div class="form-group formField">
                <input type="submit" class="btn btn-primary btn-block bg-color-3 border-color-3" value="Crear">
              </div>
              <div class="form-group formField" id="results_2">
                <!--<p class="help-block">Allready have an account? <a href="#">Log in</a></p>-->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
